<p style="color: green"><%= notice %></p>

<%= render @task %>

<div>
  <%= link_to "Редагувати це завдання", edit_task_path(@task), class: "btn btn-success mt-3" %>
  <br>
  <%= link_to "Назад до завдань", tasks_path, class: "btn btn-warning mt-3" %>
  <%= button_to "Видалити це завдання", @task, method: :delete, class: "btn btn-danger mt-3 mb-3" %>
</div>
